<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEBUG</title>
    <link rel="stylesheet" href="{{backend_origin}}/stylesheets/style.css">
</head>

<body>
    <h1>DEBUG</h1>
    <p>
        <a href="{{backend_origin}}/views/meetings">
            <button>会议列表</button>
        </a>
    </p>
     <p>
        <a href="{{backend_origin}}/views/forms">
            <button>表单列表</button>
        </a>
    </p>
</body>

</html>